.intro	{background-image: url('https://images.unsplash.com/photo-1529573813483-53bd9ede667e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&h=500&q=60');
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	height: 500px;
    	border-radius: 0px; 
    	color: blue;
    	background-attachment: fixed;}
    	h1 { margin-top: 20px;
        font-style: bold;
        font-size: 50px;
        font-weight: bold;}
body     { background: lightblue url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/73/23/9557b9d5ce12fac.jpg") no-repeat fixed center; 
}
.foto{  border-radius: 100px;
        height: 200px;
        width: 200px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
        position: absolute;
        transform: translateX(-50%);
        left:50%;
        margin-top: -150px;
}
.profile{ margin-top: 120px;
        margin-bottom: 70px;
        margin-left: 30px;
        font-size: 20px;
        color:dimgrey;
        text-align:initial;}
.contact { background-color: rgb(72, 178, 196);}
.kntk { color: white;
        font-size: 30px text-center;
        padding: 15px;
        font-weight: bold;}
.btn { border-radius: 100px;
        width: 670px;
        height: 50px;}
.footer{ height: 50px;
        background-color: black;
        color: white;
        font-weight: bold;
        padding-top: 10px;}
.form-control { margin: 10px;}
.awal { font: 20px Britannic Bold;}
.isi { font: 20px Garamond;}
